* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  color: #1a1a1a;
}

header {
  padding-bottom: 5%;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  display: block;
  background-color: #1a1a1a;
  background-size: cover;
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

/*Navigation*/
#navigation-container {
  display: block;
}

header #mainNav .menu.m-left {
  float: left;
}

header #mainNav .menu.m-right {
  float: right;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.menu li {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  text-align: left;
}

.header .site-nav .menu li:first-child {
  margin-left: 0;
}

header #mainNav .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 10px 0;
}

.menu .button,
#mainNav .menu a {
  line-height: 1;
  display: block;
  padding: 0.7rem 1rem;
}

header #mainNav .menu li:not(.btn) a {
  border-bottom: 2px solid transparent;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0 2px 10px rgba(0, 0, 0, 0.8);
}

header #mainNav .menu li a:hover,
header #mainNav .menu li.activePage > a {
  border-bottom-color: #fff;
}
.m-right i.bx {
  font-size: 1.1em;
}
/*Burger button*/
header .burger-button {
  position: absolute;
  right: 0.9375rem;
  top: 6%;
}

.burger-button {
  float: right;
  text-align: right;
}

.burger-button .menu-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.menu-icon {
  position: relative;
  display: none;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  cursor: pointer;
  appearance: none;
  border-radius: 0;
  appearance: none;
  border: 0;
  background: 0 0;
  line-height: 1;
}

.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fefefe;

  box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
  -webkit-box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
  -moz-box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
  content: "";

  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  padding: 31px 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 101;
}

/* Style label tag */

.hamb-button {
  background: #f9f9f9;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

/* Style span tag */
.hamb-button::before,
.hamb-button::after {
  background: #f9f9f9;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-button::before {
  top: 8px;
}

.hamb-button::after {
  top: -8px;
}

.hamb,
.mobile-menu {
  display: none;
  /* Hide checkbox */
}

/*Submenu*/
.menu li ul.sub-menu {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  margin: 0;
  min-width: 200px;
  position: absolute;
  top: 100%;
  z-index: 1;
}

.menu li:hover > .sub-menu {
  display: block;
}

.menu li ul.sub-menu li {
  display: block;
  margin: 0;
  border: none;
}

header #mainNav .menu li ul.sub-menu li a {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 0px;
}

header #mainNav .menu li ul.sub-menu li a:hover,
header #mainNav .menu li ul.sub-menu li a:focus,
header #mainNav .menu li ul.sub-menu li.active-page > a {
  background-color: #e23628;
  border-bottom: 0px;
}

/*Hide and then will show on onclick when checkbox checked*/

/*Logo*/
header .logo {
  display: inline-block;
  left: 50%;
  position: absolute;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

header .logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

header .logo img {
  max-width: 100%;
}

header .column {
  padding: 15px;
}

.row {
  margin: 0 auto;
}

.centered {
  float: none;
  clear: both;
  margin: 0 auto;
}

.big-title {
  width: 70%;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1;
  margin: 200px auto 0;
  position: relative;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
header h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1;
  margin: 28px auto 0;
  position: relative;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
}

/*Media for header h1*/
header h1.pattern {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

main {
  /*padding: 0 40px;*/
}

/*Flex items*/
.imgText_flex {
  display: flex;
  flex-wrap: wrap;
  /*height: 600px;*/
  overflow: hidden;
}


.imgBox {
  position: relative;
  color: #f1f1f1;
  height: 100%;
}


.txtBox {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txtBox.flexWide {
  width: 65%;
  flex: 1 3 65%;
}

.imgBox.flexWide {
  flex: 65%;
}

.txtBox.flexNarrow {
  flex: 35%;
}

.flexEven {
  flex: 50%;
}

.customBlue,
#contactFormPage .customBlue:not(div.separatorLine),
.customBlue.sendButton{
  background-color: #1e273f;
  color: #f1f1f1;
}

.customRed,
#contactFormPage .customRed:not(div.separatorLine):not(.bx.customRed){
  background-color: #b5121b;
  color: #f1f1f1;
}

#contactFormPage input[type="button"].customRed,
#contactFormPage .sendButton {
  cursor: pointer;
}

#contactFormPage input[type="button"].customRed:hover,
#contactFormPage .sendButton:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}

.imgCBox {
  line-height: 0;
}

.imgCBox img {
  width: 100%;
  object-fit: cover;
}

.fiftyFifty .imgCBox img {
  height: auto;
  object-fit: fill;
}

.infoText {
  transform: translate(-50%, -35%);
  -webkit-transform: translateX(-50%, -35%);
  -moz-transform: translateX(-50%, -35%);
  -ms-transform: translateX(-50%, -35%);
  -o-transform: translateX(-50%, -35%);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
}

.imgText_flex h2 {
  font-size: 2em;
  line-height: 1.8em;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
}

.flexTitleLink,
.flexTitle {
  border: none;
  color: #f1f1f1;
  width: 100%;
}

.flexTitleText {
  text-align: center;
}

.flexTitleLink {
  /*display: block;
  width: 75%;*/
  color: #353535;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 auto;
  padding: 6px 12px;
  background-color: #f1f1f1;
  border-radius: 24px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
}

.flexTitleLink:hover {
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0px 2px 16px 2px rgba(16, 16, 16, 1);
}

.flexTitleLink:hover a {
  color: #000;
}

.flexTitle {
  width: 100%;
}

.flexTitle span {
  font-size: 1.8em;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
}

/*separator line with star in the center*/
.separatorLine {
  line-height: 40px;
  height: 40px;
  position: relative;
  color: #1e273f;
  background-color: transparent;
}

h4.separatorLine {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

h4.separatorLine.customRed {
  color: #b5121b;
}

h4.separatorLine.customRed::after,
h4.separatorLine.customRed::before {
  background-color: #b5121b;
}

h4.separatorLine.customBlue {
  color: #1e273f;
}

h4.separatorLine.customBlue::after,
h4.separatorLine.customBlue::before {
  background-color: #1e273f;
}

h4.separatorLine::after,
h4.separatorLine::before {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #1e273f;
  display: block;
}

div.separatorLine i {
  padding: 0 5px;
}

div.separatorLine {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

div.separatorLine.customRed {
  color: #b5121b;
}

div.separatorLine.customRed::after,
div.separatorLine.customRed::before {
  background-color: #b5121b;
}

div.separatorLine.customBlue {
  color: #1e273f;
}

div.separatorLine.customBlue::after,
div.separatorLine.customBlue::before {
  background-color: #1e273f;
}

div.separatorLine::after,
div.separatorLine::before {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #1e273f;
  display: block;
}

div.separatorLine i {
  padding: 0 5px;
}

div.txtBox.customBlue .separatorLine,
div.txtBox.customBlue .separatorLine {
  color: #b5121b;
}

div.txtBox.customBlue .separatorLine::after,
div.txtBox.customBlue .separatorLine::before {
  background-color: #b5121b;
}

/***********************************************/
/*50 y 50 info text box*/
.imgText_flex.fiftyFifty {
  height: auto;
}

.imgText_flex.fiftyFifty .infoText {
  transform: translate(-50%, -20%);
  -webkit-transform: translateX(-50%, -20%);
  -moz-transform: translateX(-50%, -20%);
  -ms-transform: translateX(-50%, -20%);
  -o-transform: translateX(-50%, -20%);
  top: 20%;
  left: 50%;
}

.imgText_flex.fiftyFifty .flexTitleLink {
  color: #fff;
  background-color: #b5121b;
}

.imgText_flex.fiftyFifty h2 {
  margin-bottom: 30px;
}

/*Centered pages*/
.columnCentered {
  padding: 10px 35px;
  text-align: center;
  margin: 0 auto;
}

.columnCentered section {
  width: 70%;
  margin: 0 auto;
}

.columnCentered h2 {
  text-shadow: none;
  font-size: 2.6em;
  line-height: 2em;
}

.columnCentered .subTitle {
  font-size: 2em;
  line-height: 2.2em;
  font-weight: bold;
}

.columnCentered .details {
  font-size: 1.5em;
  line-height: 2em;
  color: #4a4a4a;
  text-align: justify;
}

.columnCentered .details p,
.columnCentered .details p span {
  font-size: 1em;
}

.details p span.italic {
  font-style: italic;
}

.listingProperties ul {
  width: 100%;
  margin-top: 2em;
  /*background-image: linear-gradient(to left, rgba(255,255,255,0.5), rgba(255,255,255,1));*/
  /*background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 0) 100%);*/
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}

.listingProperties ul li {
  list-style: none;
  text-align: left;
  font-weight: bold;
  height: auto;
  border-bottom: 1px solid #4a4a4a;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 50%;
}

.listingProperties ul li p {
  font-size: 1.2em;
  line-height: 1.8em;
  display: inherit;
  align-items: center;
}



.listingProperties ul li .bx {
  font-size: 4em;
  color: #b5121b;
  margin-right: 0.5em;
  display: inherit;
  align-items: center;
}

/*****Nosotros Custom Styles *********/
.nosBurger {
  background-image: url(../images/nosotros/nosotros_bg1.png);
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#nosotros .columnCentered section {
  padding: 0 0 25px 0;
}

@media only screen and (max-width: 992px) {
  .listingProperties ul {
    background: rgba(255, 255, 255, 0.7);
  }

  .listingProperties ul li {
    width: 100%;
  }

  .nosBurger {
    background-size: cover;
    background-position: top right;
  }

  .columnCentered section {
    width: 90%;
  }
}

/***********************************************/

.fullWidth {
  padding: 35px 0;
  margin-top: 35px;
}

.fullWidth h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 35px;
}

.fullWidth a {
  margin-top: 20px;
  font-size: 1.2em;
}

/*Contact page AND info page*/
#contactFormPage .columnCentered,
#contactFormPage .fullWidth,
#infoPage .columnCentered,
#infoPage > div.fullWidth,
.menuPageItems .fullWidth {
  display: flex;
  flex-direction: row;
}

#contactFormPage aside,
#contactFormPage section,
#infoPage .section {
  padding: 15px;
}
#contactFormPage section.rotation, section#menuItems div.itemContainer.rotation {
  position: relative;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

#contactFormPage section.rotation.active, section#menuItems div.itemContainer.rotation.active {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.frontFace,
.backFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frontFace {
  position: relative;
  z-index: 2;
}

.backFace {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  opacity: 0;
  z-index: 1;
  padding: 25px;
}
.backFace p {
  padding: 15px 0;
}
.backFace a {
  font-size: 1em;
  color: #4a4a4a;
  font-weight: bold;
}

#contactFormPage section.rotation.active .backFace, section#menuItems div.itemContainer.rotation.active .backFace {
  opacity: 1;
}

#contactFormPage aside {
  flex-shrink: 3.5;
  text-align: justify;
  padding: 15px 25px;
}

#contactFormPage aside h3 {
  text-align: center;
}

#contactFormPage .fullWidth,
#infoPage .fullWidth,
.menuPageItems .fullWidth {
  padding: 0;
}

#contactFormPage .flexTitleText,
#infoPage .flexTitleText,
.menuPageItems .flexTitleText {
  padding: 35px;
  flex-grow: 1;
}

#contactFormPage input,
#contactFormPage textarea {
  background-color: #363636;
  border: none;
  border-radius: 30px;
  box-shadow: none;
  color: #f2f2f2;
  font-size: 1em;
  line-height: 2em;
  padding: 10px 12px;
  width: 100%;
  margin: 0 0 1.8em;
}
#contactFormPage input.error,
#contactFormPage textarea.error {
  box-shadow: inset 0 0 0 3px #b5121b;
}

#contactFormPage label {
  font-size: 1.1em;
}

#contactFormPage form i {
  padding: 0 0 10px 0;
  display: block;
}

#contactFormPage .listingProperties ul li {
  width: 100%;
}

#contactFormPage .listingProperties ul li a {
  display: flex;
  color: #000;
  flex-direction: row;
}

#contactFormPage .map {
  width: 100%;
  padding: 10px 0;
}

#contactFormPage .map > iframe {
  width: 100%;
  /*height: 100%;*/
  max-height: 350px;
}

input#cTerms {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

#sendContactForm + i.bx {
  display: none;
  padding: 10px 12px;
  width: 100%;
  margin: 0 0 0.9em;
  font-size: 2em;
}

#contactFormPage .bx.customRed {
  color: #b5121b;
  background-color: transparent;
}

.bx.customBlue {
  color: #1e273f;
  background-color: transparent;
}
.formRow {
  position: relative;
}
.tooltip {
  position: absolute;
  z-index: 1;
  background-color: #b5121b;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  /* Position the tooltip below the input */
  top: calc(100% - 25px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:before {
  content: "";
  position: absolute;
  border-style: solid;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #b5121b transparent;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip.textarea {
  top: calc(100% - 30px);
  left: 51%;
}
.tooltip.checkbox {
  top: 60px;
  left: 51%;
}

/*Info page custom css*/
#infoPage section {
  padding: 10px 0;
}
#infoPage section.fullWidth h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 auto;
  padding-top: 25px;
}
#infoPage h3 {
  margin-top: 15px;
}
#infoPage .columnCentered {
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

#infoPage section.fullWidth {
  flex-basis: 100%;
}
#infoPage section.flexEven {
  flex-basis: 50%;
}
#infoPage section.flexEven.first {
  padding-right: 10px;
}
#infoPage section.flexEven.last {
  padding-left: 10px;
}
#infoPage section .columnCentered {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#infoPage section .columnCentered > div {
  flex-basis: 50%;
}
#infoPage section .columnCentered {
  padding: 0;
}
#infoPage .details > ul,
#infoPage .details p {
  text-align: center;
}
#infoPage .details ul > li {
  margin-bottom: 10px;
}
#infoPage .details ul li {
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}
#infoPage .details ul li ul > li {
  padding: 0 0 0 10px;
  font-weight: normal;
}

/*Menu page*/
#menu div.fullWidth {
  margin-top: 0;
}
header.menuPage {
  background-image: url(/images/menuBg.jpg);
  padding-bottom: 0px;
  padding-top: 0px;
}
header div.headerGrad {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
}
header.menuPage .row.subHeader {
  padding: 35px;
}
.separatorLine.customWhite {
  color: #fff;
  text-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
}
.separatorLine.customWhite::after,
.separatorLine.customWhite::before {
  background-color: #fff;
}
.row.subHeader p {
  color: #fff;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.9);
  font-size: 2em;
  font-weight: 700;
  padding: 25px 0 0;
}
.grid3elm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px;
  grid-gap: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
/* .grid3elm section:nth-last-child(1) {
  grid-row: 2;
  grid-column: 1 / span 2;
} */
.grid3elm section {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.grid3elm section h3 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 35px;
  color: #fff;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.9);
}
.grid3elm section#premium {
  background-image: url(../images/menu/premium.jpeg);
}
.grid3elm section#classic {
  background-image: url(../images/menu/classic.jpg);
}
.grid3elm section#extras {
  background-image: url(../images/menu/extras.jpeg);
}
.grid3elm section:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
}
@media screen and (max-width: 992px) {
  .grid3elm {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 200px;
  }
  .grid3elm section:nth-last-child(1) {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 576px) {
  .grid3elm {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    /*grid-column-start: auto;
    grid-column-end: auto; */
  }
  .grid3elm section:nth-last-child(1) {
    grid-row: auto;
    grid-column: auto;
  }
}

/* menu premium*/
header.menuPagePremium {
  background-image: url(/images/menu/premium.jpeg);
  padding-bottom: 0px;
  padding-top: 0px;
}
header.menuPageClassic {
  background-image: url(/images/menu/classic.jpg);
  padding-bottom: 0px;
  padding-top: 0px;
}
header.menuPageExtra {
  background-image: url(/images/menu/extras.jpeg);
  padding-bottom: 0px;
  padding-top: 0px;
}
.menuPageItems .fullWidth {
  display: flex;
}

#menuItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#menuItems .itemContainer {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#menuItems .itemContainer .burgerTitle {
  font-size: 1.5rem;
  margin: 0 0 10px;
  text-align: left;
  /*grid-column: 1 / span 4;*/
  grid-area: 1 / 1 / 3 / -3;
}
#menuItems .itemContainer img {
  width: 100%;
  grid-area: 1/-3/3/-1;
}
#menuItems .itemContainer .burgerPrice {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  grid-area: 3 / -3 / 3 / -1;
}
#menuItems .itemContainer .burgerDesc {
  margin-bottom: 0px;
  font-size: 1.2rem;
  text-align: left;
  grid-area: 3 / 1 / 3 / -3;
}
.itemContainer#cloneMenuItem{
  display: none;
}
div.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 200px;
  flex-direction: column;
}
div.loading h3{
  font-size: 1.5em;
}
div.loading i.bx.customRed{
background-color: transparent;
color: #b5121b;
font-size: 3em;
display: block;
}
div.loading .message{
  font-size: 1.2em;
}
@media screen and (max-width: 768px) {
  #menuItems {
    grid-template-columns: 1fr;
  }
}

/*******************************/
/*footer*/
footer {
  display: block;
  position: relative;
  background-color: #1a1a1a;
  padding: 34px 0 50px;
  color: #aaaaaa;
}

p#copyRight {
  text-align: center;
  font-size: 0.8em;
}

p#copyRight span {
  font-size: 1em;
}

footer .footerNav {
  display: flex;
  justify-content: space-between;
}

footer nav {
  padding: 0 34px;
  display: flex;
  width: 50%;
}

footer aside {
  padding: 0 34px;
  flex-direction: column;
  display: flex;
  width: 200px;
}

footer a {
  color: #aaaaaa;
  font-size: 0.7em;
  width: 100%;
  display: block;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 10px;
  /* width: 100%; */
}
footer nav ul:nth-child(1) {
  padding: 0 10px 0 0;
}
footer nav ul:nth-last-child(1) {
  padding-right: 0px;
}

footer li {
  list-style: none;
}

footer nav ul li > ul > li {
  padding-left: 0;
}

footer aside ul {
  display: flex;
  flex-wrap: wrap;
}

footer aside a {
  height: 1.5rem;
  display: inline-block;
}

footer aside ul > li {
  padding: 0 10px 10px 0;
  line-height: 1em;
}

footer aside ul li:first-child {
  padding-left: 0px;
}

footer aside ul li:last-child {
  padding-right: 0px;
}

footer aside i.bx {
  font-size: 1.5rem;
}

/*
576px, 768px, 992px, and 1200px
*/
/*Menu media query show burguer at 768px*/
@media only screen and (max-width: 768px) {
  .hamb {
    display: block;
  }

  #navigation-container {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 64px;
    top: -64px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    transition: max-height 0.3s ease-out, top 0.2s ease-out;
  }

  .mobile-menu:checked ~ .hamb .hamb-button {
    background: transparent;
  }

  .mobile-menu:checked ~ .hamb .hamb-button::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 0;
  }

  .mobile-menu:checked ~ .hamb .hamb-button::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 0;
  }

  /*display menu when checbox is checked*/
  .mobile-menu:checked ~ #navigation-container {
    top: 0px;
    max-height: 100%;
  }

  header #mainNav .menu.m-right,
  header #mainNav .menu.m-left {
    float: none;
  }

  header #mainNav .menu ul {
    display: block;
  }

  header #mainNav .menu li {
    display: block;
    margin: 0;
  }

  .menu li ul.sub-menu {
    position: relative;
    background-color: inherit;
  }

  header #mainNav .menu li ul.sub-menu li a {
    padding-left: 40px;
  }

  header #mainNav .menu li:not(.btn) a {
    border-bottom: 0px;
  }

  header #mainNav .menu li a {
    padding: 10px;
  }

  header #mainNav .menu li a:hover,
  header #mainNav .menu li a:focus,
  header #mainNav .menu li.active-page > a {
    background-color: #e23628;
    border-bottom: 0px;
  }
}

/*From 0 to 576px very smalls screens*/
@media only screen and (max-width: 576px) {
  .big-title {
    width: 100%;
  }

  .imgText_flex {
    flex-direction: column;
  }

  .imgText_flex.fiftyFifty {
    flex-direction: column;
  }
  #contactFormPage .columnCentered,
  #contactFormPage .fullWidth
  {
    flex-direction: column;
  }
} 
/*funciona desde los 576px*/
@media only screen and (min-width: 576px) {
  * {
    font-size: 14px;
  }

  body {
    /*background-color: aqua;*/
  }

  .big-title {
    width: 100%;
  }

  .imgText_flex {
    flex-direction: column;
  }

  .imgText_flex.fiftyFifty {
    flex-direction: row;
  }
  #contactFormPage .columnCentered,
  #contactFormPage .fullWidth
   {
    flex-direction: column;
  }
}

/*funciona desde los 768px*/
@media only screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }

  .big-title {
    width: 100%;
  }

  /*Media size for logo*/
  header .logo {
    width: 150px;
  }

  header #mainNav .menu li a {
    text-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
  }

   header {
    background-size: cover;
    background-position: 50% -300px;
  }
  .imgText_flex {
    flex-direction: row;
  }

  .imgText_flex.fiftyFifty {
    flex-direction: row;
  }

  .wideReversed {
    flex-direction: row-reverse;
  }
  #contactFormPage .columnCentered {
    flex-direction: column;
  }

  #contactFormPage .fullWidth {
    flex-direction: row;
  }
}

/*funciona desde los 992px*/
@media only screen and (min-width: 992px) {
  header .logo {
    width: 250px;
  }

  header #mainNav .menu li a {
    font-size: 1.3em;
    line-height: 2em;
  }
  #contactFormPage .columnCentered,
  #contactFormPage .fullWidth
   {
    flex-direction: row;
  }
}

/*funciona desde los 1200px*/
@media only screen and (min-width: 1200px) {
  body {
  }

  header #mainNav .menu li a {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
